server {
    listen 80;
    listen [::]:80;
    server_name special.publisters.ru;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name special.publisters.ru;

    root /var/www/special.publisters.ru;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    ssl_certificate /etc/letsencrypt/live/special.publisters.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/special.publisters.ru/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
